@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --bg-main: #f8fafc;
  --sidebar-bg: #1e293b;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  color: #1e293b;
  font-family: ui-sans-serif, system-ui, sans-serif;
}